/* styles for scroll bar*/
* {
  scrollbar-width: thin;
  scrollbar-color:rgba(82, 82, 82, 0.76);
}
*::-webkit-scrollbar {
  width: 9px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}
*::-webkit-scrollbar-thumb {
  background-color:rgba(82, 82, 82, 0.76);
  border-radius: 27px;
}

.App-header {
  background-color: #404c64;
    display: flex;
    padding: 13px;
    flex-direction: row;
    justify-content: left;
    /* color: white; */
    height: 70px;
}

.App-link {
  color: #61dafb;
}

.TextFieldPadding {
  padding: 15px 15px 0 15px;
}

.TextFieldPaddingRight{
  padding-right: 15px !important;
}

.incomePaperSytle{
  margin-top: 20px;
  margin-left: 10px;
}
.listItems{
  height: 110px;
  overflow-y: scroll;
}

.customChart{
  padding: 10px;
}
.paperStyle{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 94%;
}
.language{
  width: 98px;
  height: 46px;
}
.resetButton{
  width: 75px;
  height: 42px;
}

.MuiAppBar-colorTransparent{
  color: white !important;
  background-color: #3a4a6e !important;
  border-radius: 2px !important;
}
.MuiToolbar-regular{
  min-height: 44px !important;
}

.paddingBottom{
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 15px ;
}
.editItem{
  top: 50% !important;
  right: 56px !important;
  position: absolute !important;
  transform: translateY(-50%) !important;
}